<header
  class="page-header page-header-dark bg-gradient-primary-to-secondary  pb-3"
>
  <div class="container-xl px-4">
    <div class="page-header-content pt-4">
      <div class="row align-items-center justify-content-between">
        <div class="col-auto mt-4">
          <h1 class="page-header-title">
            <div class="page-header-icon"><i data-feather="edit"></i></div>
            Actualización de datos de proveedor.
          </h1>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container-xl px-4 mt-4">
    <hr class="mt-0 mb-4" />
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-8">
            <div class="card mb-4">
                <div class="card-header">Información de contacto</div>
                <div class="card-body">
                    <form [formGroup]="providerForm">
                        <div class="row gx-3">
                            <div class="mb-3 col-md-6">
                                <label class="medium mb-1 text-blue" for="CompanyName">Nombre de la empresa</label>
                                <input class="form-control" id="CompanyName"  formControlName="companyName" type="text" placeholder="Grupo FEMSA"/>
                                <app-field-error-display
                                [displayError]="validationInput('companyName')" 
                                errorMsg="Completa este campo">
                                </app-field-error-display>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="medium mb-1 text-blue" for="RFC">RFC</label>
                                <input class="form-control" id="RFC" formControlName="RFC" type="text" placeholder="CUPU800825569" maxlength="13"/>   
                                <app-field-error-display
                                [displayError]="validationInput('RFC')" 
                                errorMsg="Ingresa un formato válido de RFC">
                                </app-field-error-display>
                            </div>
                  
                        </div>
                        <div class="mb-3">
                            <label class="medium mb-1 text-blue" for="email">Correo electrónico</label>
                            <input class="form-control" id="email" type="email" formControlName="email" placeholder="microsoft@google.com" />
                            <app-field-error-display
                            [displayError]="validationInput('email')" 
                            errorMsg="Ingresa un e-mail válido">
                            </app-field-error-display>
                        </div>
                        <div class="row gx-3">
                            <div class="mb-3 col-md-6">
                                <label class="medium mb-1 text-blue" for="Contactname">Nombre de contacto</label>
                                <input class="form-control" id="Contactname" type="text" formControlName="contactName" placeholder="Julión Alvarez" />
                                <app-field-error-display
                                [displayError]="validationInput('contactName')" 
                                errorMsg="Completa este campo">
                                </app-field-error-display>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="medium mb-1 text-blue" for="phone">Teléfono de contacto</label>
                                <input class="form-control" id="phone" type="tel" formControlName="phone" placeholder="2228495312" maxlength="10" />
                                <app-field-error-display
                                [displayError]="validationInput('phone')" 
                                errorMsg="Ingresa un número de teléfono válido">
                                </app-field-error-display>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="medium mb-2 text-blue" for="notes">Notas (información adicional)</label>
                            <input class="form-control" id="notes" type="text" formControlName="notes" maxlength="100" />
                        </div>
                        <hr class="my-4" />
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-danger" type="button" [routerLink]="['/home/providers','list']">Cancelar</button>   
                            <button class="btn btn-primary" type="button" (click)="onSubmit()">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-2"></div>
    </div>
</div>

