<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-3">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        Usuarios
                    </h1>
                    <div class="page-header-subtitle">
                        Gestiona a los usuarios registrados de forma sencilla.
                    </div>

                </div>
                <div class="dropdown col-auto mt-8">
                    <button class="btn btn-warning dropdown-toggle" placement="top" ngbTooltip="Actividad" id="dropdownFadeInUp" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Seleccionar estado de usuarios</button>
                    <div class="dropdown-menu animated--fade-in-up" aria-labelledby="dropdownFadeInUp">
                        <a class="dropdown-item" (click)="SetStat(1)">Todos</a>
                        <a class="dropdown-item" (click)="SetStat(2)">Activos</a>
                        <a class="dropdown-item" (click)="SetStat(3)">Inactivos</a>
                    </div>
                </div>


            </div>
        </div>
    </div>

</header>

<div class="card">
    <div class="card-header">
        <span style="float: right" placement="left" ngbTooltip="Nuevo usuario"><a [routerLink]="['/home/users/new-user']"
        ><i data-feather="user-plus"  style="width: 30px; height: 35px"></i></a
    ></span>
    </div>
</div>
<div>
    <div>


        <div class="card-body">
            <div class="
      dataTable-wrapper dataTable-loading
      no-footer
      sortable
      searchable
      fixed-columns
    ">
                <div class="dataTable-container">
                    <table id="datatablesSimple" class="dataTable-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Correo electrónico</th>
                                <th>Télefono</th>
                                <th>Fecha de registro</th>
                                <th>Cambio de contraseña</th>
                                <th>Status</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Correo electrónico</th>
                                <th>Télefono</th>
                                <th>Fecha de registro</th>
                                <th>Cambio de contraseña</th>
                                <th>Status</th>
                                <th>Acciones</th>
                            </tr>
                        </tfoot>
                        <tbody *ngIf="users">
                            <ng-container *ngFor="let user of users.data; let i = index;">
                                <tr *ngIf="user.status==statusUsers || statusUsers==null">
                                    <td>{{ user.userID }}</td>
                                    <td>{{ user.firstName }}</td>
                                    <td>{{ user.lastName }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.phone }}</td>
                                    <td>
                                        {{ formatDate(user.registerDate) | amDateFormat: "DD" }} de {{ formatDate(user.registerDate) | amLocale: "es" | amDateFormat: "MMMM YYYY" }}
                                    </td>
                                    <td *ngIf="user.changePassword && (user.status==statusUsers || statusUsers==undefined)">Permitido</td>
                                    <td *ngIf="!user.changePassword && (user.status==statusUsers || statusUsers==undefined)">Deshabilitado</td>
                                    <td *ngIf="user.status && (user.status==statusUsers || statusUsers==undefined)">
                                        <div class="badge bg-success text-white rounded-pill">Activo</div>
                                    </td>
                                    <td *ngIf="!user.status && (user.status==statusUsers || statusUsers==undefined)">
                                        <div class="badge bg-danger text-white rounded-pill">Inactivo</div>
                                    </td>
                                    <td class="d-flex justify-content-between">
                                        <a href="javascript:void(0);" (click)="edit(user)" placement="top" ngbTooltip="Editar">
                                            <i class="fas fa-user-edit"></i>
                                        </a>
                                        <a href="javascript:void(0);" (click)="getAddres(user)" *ngIf="user.addressID" placement="left" ngbTooltip="Dirección disponible">
                                            <i class="fas fa-map-marked-alt mapIcon"></i>
                                        </a>
                                        <a href="javascript:void(0);" (click)="getAddres(user)" *ngIf="!user.addressID" placement="top" ngbTooltip="Sin dirección">
                                            <i class="fas fa-map-marked-alt hasNoMap"></i>
                                        </a>
                                        <a href="javascript:void(0);" (click)="DelSelected(user)" *ngIf="user.status" placement="top" ngbTooltip="Eliminar">
                                            <i class="fas fa-trash-alt redIcon"></i>
                                        </a>
                                        <a href="javascript:void(0);" (click)="RestoreUser(user)" *ngIf="!user.status" placement="top" ngbTooltip="Restaurar">
                                            <i class="fas fa-undo greenIcon"></i>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>

                        </tbody>
                    </table>

                </div>
                <ngb-pagination *ngIf="users?.totalPages > 1" [(page)]="page" [pageSize]="users?.pageSize" (pageChange)="pageChange($event)" [collectionSize]="users?.totalRows"></ngb-pagination>

            </div>
        </div>
    </div>
</div>