<nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start nav-background" id="sidenavAccordion">


    <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle"><i data-feather="menu"></i></button>
    <!-- User Dropdown-->
    <h2 style="color: rgb(0, 98, 255);font-weight: bold;margin-left: 5px;margin-right: 5px;"><a [routerLink]="['/home']">Punto de venta</a></h2>
    <ul class="navbar-nav align-items-center ms-auto">
        <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
            <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="img-fluid" src="assets/img/illustrations/profiles/profile-1.png" /></a>
            <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                <h6 class="dropdown-header d-flex align-items-center">
                    <img class="dropdown-user-img" src="assets/img/illustrations/profiles/profile-1.png" />
                    <div class="dropdown-user-details">
                        <div class="dropdown-user-details-name">Valerie Luna</div>
                        <div class="dropdown-user-details-email">vluna@aol.com</div>
                    </div>
                </h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#!">
                    <div class="dropdown-item-icon"><i data-feather="settings"></i></div>
                    Cuenta
                </a>
                <a class="dropdown-item" href="#!">
                    <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                    Cerrar sesión
                </a>
            </div>
        </li>
    </ul>

</nav>

<div id="layoutSidenav">

    <div id="layoutSidenav_nav">
        <nav class="sidenav shadow-right sidenav-light">

            <div class="sidenav-menu">
                <div class="nav accordion" id="accordionSidenav">

                    <div class="sidenav-menu-heading">Administrar...</div>

                    <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseAdmin"
                        aria-expanded="false" aria-controls="collapseAdmin">
                        <div class="nav-link-icon"><i data-feather="users"></i></div>
                        Clientes
                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>

                    <div class="collapse" id="collapseAdmin" data-parent="#accordionSidenav">
                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                            <a class="nav-link">
                                <div class="nav-link-icon"><i data-feather="user-plus"></i></div>
                                Agregar nuevo
                            </a>

                            <a class="nav-link">
                                <div class="nav-link-icon"><i data-feather="book-open"></i></div>
                                Lista
                            </a>

                            <a class="nav-link">
                                <div class="nav-link-icon"><i data-feather="edit"></i></div>
                                Actualizar registros
                            </a>

                        </nav>
                    </div>

                    <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseprod"
                        aria-expanded="false" aria-controls="collapseprod">
                        <div class="nav-link-icon"><i data-feather="shopping-bag"></i></div>
                        Productos
                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>

                    <div class="collapse" id="collapseprod" data-parent="#accordionSidenav">
                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                            <a class="nav-link">
                                <div class="nav-link-icon"><i data-feather="list"></i></div>
                                Lista
                            </a>

                            <a class="nav-link">
                                <div class="nav-link-icon"><i data-feather="archive"></i></div>
                                Inventario
                            </a>

                            <a class="nav-link">
                                <div class="nav-link-icon"><i data-feather="plus-circle"></i></div>
                                Agregar Nuevo 
                            </a>

                        </nav>
                    </div>


                    <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseprov"
                        aria-expanded="false" aria-controls="collapseprov">
                        <div class="nav-link-icon"><i data-feather="truck"></i></div>
                        Proveedores
                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>

                    <div class="collapse" id="collapseprov" data-parent="#accordionSidenav">
                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                            <a class="nav-link" [routerLink]="['/home/providers','list']" routerLinkActive="active">
                                <div class="nav-link-icon"><i data-feather="book-open"></i></div>
                                Lista
                            </a>

                            <a class="nav-link" [routerLink]="['/home/providers/','new-provider']" routerLinkActive="active">
                                <div class="nav-link-icon"><i data-feather="user-plus"></i></div>
                                Agregar nuevo
                            </a>

                            <!-- <a class="nav-link">
                                <div class="nav-link-icon"><i data-feather="edit"></i></div>
                                Actualizar registros
                            </a> -->

                        </nav>
                    </div>

                    <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseusers"
                        aria-expanded="false" aria-controls="collapseusers">
                        <div class="nav-link-icon"><i data-feather="meh"></i></div>
                        Usuarios
                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>

                    <div class="collapse" id="collapseusers" data-parent="#accordionSidenav">
                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                            <a class="nav-link" [routerLink]="[ '/home/users','list']" routerLinkActive="active">
                                <div class="nav-link-icon"><i data-feather="book-open"></i></div>
                                Lista
                            </a>

                            <a class="nav-link"  [routerLink]="[ '/home/users/','new-user']" routerLinkActive="active" >
                                <div class="nav-link-icon"><i data-feather="user-plus"></i></div>
                                Agregar Nuevo 
                            </a>

                        </nav>
                    </div>



                </div>

            </div>
            <div class="sidenav-footer">
                <div class="sidenav-footer-content">
                    <div class="sidenav-footer-subtitle">Inició sesión como:</div>
                    <div class="sidenav-footer-title">Valerie Luna</div>
                </div>
            </div>       
        </nav>
    </div>

    <div id="layoutSidenav_content">
        <main>
            <router-outlet></router-outlet>
            <app-display-lottie></app-display-lottie>
        </main>
    </div>

</div>