<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="sliders"></i></div>
                        Dashboard
                    </h1>
                    <div class="page-header-subtitle">
                        Principales recursos para la gestión del punto de venta.
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main page content-->
<div class="container-xl px-4 mt-n10">
    <div class="row">
        <div class="col-xl-4 mb-4">
            <!-- Dashboard example card 1-->
            <a class="card lift h-100" [routerLink]="['/home/sales','new-sale']" routerLinkActive="active">
                <div class="card-body d-flex justify-content-center flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="me-3">
                            <i class="feather-xl text-primary mb-3" data-feather="shopping-bag"></i>
                            <h5>Crear venta</h5>
                            <div class="text-muted small">
                                Accede a los recursos para la gestión de venta.
                            </div>
                        </div>
                        <img src="../../../../assets/img/illustrations/Cyber Monday-amico.svg" alt="..." style="width: 8rem" />
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-4 mb-4">
            <!-- Dashboard example card 2-->
            <a class="card lift h-100" [routerLink]="['/home/products','stock']" routerLinkActive="active">
                <div class="card-body d-flex justify-content-center flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="me-3">
                            <i class="feather-xl text-secondary mb-3" data-feather="package"></i>
                            <h5>Inventario de productos</h5>
                            <div class="text-muted small">
                                Da seguimiento al stock de productos.
                            </div>
                        </div>
                        <img src="assets/img/illustrations/Online wishes list-bro.svg" alt="..." style="width: 8rem" />
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-4 mb-4">
            <!-- Dashboard example card 3-->
            <a class="card lift h-100" [routerLink]="['/home/providers/','new-invoice']" routerLinkActive="active">
                <div class="card-body d-flex justify-content-center flex-column">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="me-3">
                            <i class="feather-xl text-green mb-3" data-feather="truck"></i>
                            <h5>Registrar entradas</h5>
                            <div class="text-muted small">
                                Añade productos a tu inventario.
                            </div>
                        </div>
                        <img src="assets/img/illustrations/Logistics-pana.svg" alt="..." style="width: 8rem" />
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6 mb-4">
            <div class="card card-header-actions h-100">
                <div class="card-header">
                    Reporte semanal
                    <div class="dropdown no-caret">
                        <button class="btn btn-transparent-dark btn-icon dropdown-toggle" id="areaChartDropdownExample" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="text-gray-500" data-feather="more-vertical"></i></button>
                        <div class="dropdown-menu dropdown-menu-end animated--fade-in-up" aria-labelledby="areaChartDropdownExample">
                            <a class="dropdown-item" href="javascript:void(0);">Last 12 Months</a>
                            <a class="dropdown-item" href="javascript:void(0);">Last 30 Days</a>
                            <a class="dropdown-item" href="javascript:void(0);">Last 7 Days</a>
                            <a class="dropdown-item" href="javascript:void(0);">This Month</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0);">Custom Range</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="dashboardNavContent">
                        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-pill">
                            <div style="display: block;">
                                <canvas baseChart width="250" height="100" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 mb-4">
            <div class="mb-4">
                <div class="row">
                    <div class="col-xl-6 mb-2">
                        <div class="card border-start-lg border-start-primary h-100">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1">
                                        <div class="small fw-bold text-primary mb-1">Ganancias (día)</div>
                                        <div class="h5" *ngIf="Earns[0]">$ {{Earns[0]}}</div>
                                        <div class="h5" *ngIf="!Earns[0]">$ 0</div>
                                    </div>
                                    <div class="ms-2"><i class="fas fa-dollar-sign fa-2x text-gray-200"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 mb-2">
                        <div class="card border-start-lg border-start-secondary h-100">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1">
                                        <div class="small fw-bold text-secondary mb-1">Promedio por venta</div>
                                        <div class="h5" *ngIf="Earns[1]">$ {{Earns[1]}}</div>
                                        <div class="h5" *ngIf="!Earns[1]">$ 0</div>
                                    </div>
                                    <div class="ms-2"><i class="fas fa-tag fa-2x text-gray-200"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card bg-primary border-0">
                <div class="card-body">
                    <h5 class="text-white-50">Ganancias</h5>
                    <div class="mb-4">
                        <span class="display-4 text-white" *ngIf="Earns[2]">$ {{Earns[2]}}</span>
                        <span class="display-4 text-white" *ngIf="!Earns[2]">$ 0</span>
                        <span class="text-white-50"> Este año</span>
                    </div>
                    <!-- <div class="progress bg-white-25 rounded-pill" style="height: 0.5rem">
                        <div class="progress-bar bg-white w-75 rounded-pill" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xxl-8">
            <div class="row">
                <div class="col-xl-6 mb-4">
                    <div class="card card-header-actions h-100">
                        <div class="card-header">
                            Actividad reciente
                            <div class="dropdown no-caret">
                                <button class="btn btn-transparent-dark btn-icon dropdown-toggle" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="text-gray-500" data-feather="more-vertical"></i></button>
                                <div class="dropdown-menu dropdown-menu-end animated--fade-in-up" aria-labelledby="dropdownMenuButton">
                                    <h6 class="dropdown-header">Filter Activity:</h6>
                                    <a class="dropdown-item" href="javascript:void(0);"><span class="badge bg-green-soft text-green my-1">Commerce</span></a>
                                    <a class="dropdown-item" href="javascript:void(0);"><span class="badge bg-blue-soft text-blue my-1">Reporting</span></a>
                                    <a class="dropdown-item" href="javascript:void(0);"><span class="badge bg-yellow-soft text-yellow my-1">Server</span></a>
                                    <a class="dropdown-item" href="javascript:void(0);"><span class="badge bg-purple-soft text-purple my-1">Users</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="timeline timeline-xs">
                                <div class="timeline-item">
                                    <div class="timeline-item-marker">
                                        <div class="timeline-item-marker-text">27 min</div>
                                        <div class="timeline-item-marker-indicator bg-green"></div>
                                    </div>
                                    <div class="timeline-item-content">
                                        New order placed!
                                        <a class="fw-bold text-dark" href="#!">Order #2912</a> has been successfully placed.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-4">
                    <!-- Pie chart with legend example-->
                    <div class="card h-100">
                        <div class="card-header">Productos del mes</div>
                        <div class="card-body">
                            <div style="display: block;">
                                <canvas baseChart width="300" height="300" [datasets]="lineChartDataProd" [labels]="lineChartLabelsProd" [options]="lineChartOptionsProd" [colors]="lineChartColorsProd" [legend]="lineChartLegendProd" [chartType]="lineChartTypeProd" [plugins]="lineChartPluginsProd">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-4">
            <div class="row">
                <div class="col-xl-6 col-xxl-12">
                </div>
                <div class="col-xl-6 col-xxl-12">
                </div>
            </div>

        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body py-5">
            <div class="d-flex flex-column justify-content-center">
                <img class="img-fluid mb-4" src="assets/img/illustrations/data-report.svg" alt="" style="height: 10rem" />
                <div class="text-center px-0 px-lg-5">
                    <h5>Generar reportes!</h5>
                    <p class="mb-4">Accede a los diferentes reportes disponibles.</p>
                    <a class="btn btn-primary p-3" href="javascript:void(0);" (click)="openGeneralReports()">Gestionar reportes</a>
                </div>
            </div>
        </div>
    </div>







</div>