<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="file-text"></i></div>
                        Listado de recibos de compra de productos
                    </h1>
                    <div class="page-header-subtitle">Selecciona un registro y verifica el detalle de compra facilmente.</div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main page content-->
<div class="container-xl px-4 mt-n10">
    <div class="card mb-4 d-flex justify-content-between">
        <div class="card-header d-flex justify-content-between">Recibos de compra
            <form [formGroup]="searchForm" class="col-md-3">
                <div class="input-group input-group-joined input-group-solid">
                    <input class="form-control pe-0" type="search" formControlName="invoiceID" (keyup.enter)="onEnter($event)" maxlength="6" placeholder="Buscar por número" aria-label="Search" />
                    <div class="input-group-text"><a href="javascript:void(0);" placement="top" ngbTooltip="Buscar" (click)="onSearch()"><i class="fas fa-search"></i></a></div>
                </div>
            </form>
        </div>
        <div class="card-body">
            <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                <div class="dataTable-container">
                    <table id="datatablesSimple" class="dataTable-table">
                        <thead>
                            <tr>
                                <th data-sortable="">#</th>
                                <th data-sortable="">Fecha de registro</th>
                                <th data-sortable="">Proveedor</th>
                                <th data-sortable="">Total $</th>
                                <th data-sortable="">Consultar</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="Invoices">
                            <tr *ngFor="let invoice of Invoices?.data">
                                <td>{{invoice.invoiceID}}</td>
                                <td> {{ formatDate(invoice.registerDate) | amDateFormat: "DD" }} de {{ formatDate(invoice.registerDate) | amLocale: "es" | amDateFormat: "MMMM YYYY" }}</td>
                                <td>{{invoice.companyName}}</td>
                                <td>$ {{invoice.total}}</td>
                                <td class="d-flex justify-content-center">
                                    <a href="javascript:void(0);" placement="top" ngbTooltip="Abrir" [ngStyle]="{'font-size': '25px'}" (click)="openInvoice(invoice)">
                                        <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ngb-pagination *ngIf="Invoices?.totalPages > 1" [(page)]="page" [pageSize]="Invoices?.pageSize" (pageChange)="pageChange($event)" [collectionSize]="Invoices?.totalRows"></ngb-pagination>
            </div>
        </div>
    </div>
</div>