<div class="container-xl px-4 mt-4">
    <div class="card invoice">
        <div class="card-header p-4 p-md-5 border-bottom-0 bg-gradient-primary-to-secondary text-white-50">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-lg-auto mb-5 mb-lg-0 text-center text-lg-start">
                    <img class="invoice-brand-img rounded-circle mb-4" src="assets/img/demo/demo-logo.svg" alt="" />
                    <div class="h2 text-white mb-0">Recibo de venta</div>
                </div>
                <div class="col-12 col-lg-auto text-center text-lg-end">
                    #{{saleInfo?.saleID}}
                    <br> Atendió: {{saleInfo?.userName}}
                    <br />{{ formatDate(saleInfo?.registerDate) | amDateFormat: "DD" }} de {{ formatDate(saleInfo?.registerDate) | amLocale: "es" | amDateFormat: "MMMM YYYY" }}
                </div>
            </div>
        </div>
        <div class="card-body p-4 p-md-5">
            <div class="table-responsive">
                <table class="table table-borderless mb-0">
                    <thead class="border-bottom">
                        <tr class="small text-uppercase text-muted">
                            <th scope="col ">Producto adquirido</th>
                            <th class="text-end" scope="col">Cantidad</th>
                            <th class="text-end" scope="col">Precio U.</th>
                            <th class="text-end" scope="col">Importe</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="contentSale">
                        <tr class="border-bottom" *ngFor="let content of contentSale">
                            <td>
                                <div class="fw-bold ">{{content?.productName}} - {{content?.model}}</div>
                                <div class="small text-muted d-none d-md-block">{{content?.description}}</div>
                            </td>
                            <td class="text-end fw-bold">{{content?.quantity}}</td>
                            <td class="text-end fw-bold">$ {{content?.unitPrice}}</td>
                            <td class="text-end fw-bold">$ {{content?.amount}}</td>
                        </tr>
                        <tr>
                            <td class="text-end pb-0" colspan="3">
                                <div class="text-uppercase small fw-700 text-muted">Subtotal:</div>
                            </td>
                            <td class="text-end pb-0">
                                <div class="h5 mb-0 fw-700">${{saleInfo.total}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-end pb-0" colspan="3">
                                <div class="text-uppercase small fw-700 text-muted">IVA ({{IVA}}%):</div>
                            </td>
                            <td class="text-end pb-0">
                                <div class="h5 mb-0 fw-700">${{IVACost}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-end pb-0" colspan="3">
                                <div class="text-uppercase small fw-700 text-muted">Total a pagar:</div>
                            </td>
                            <td class="text-end pb-0">
                                <div class="h5 mb-0 fw-700 text-green">${{saleInfo.totalIVA}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br><br>
            </div>
        </div>
        <div class="card-footer p-4 p-lg-5 border-top-0">
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="small text-muted text-uppercase fw-700 mb-2">Cliente</div>
                    <div class="h6 mb-1">{{saleInfo.client}}</div>
                    <div class="small">{{saleInfo.phone}}</div>
                    <!-- <div class="small">Yorktown</div> -->
                </div>
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="small text-muted text-uppercase fw-700 mb-2">Empresa</div>
                    <div class="h6 mb-0">Blizzard Entertainment</div>
                    <div class="small">©2021 BLIZZARD ENTERTAINMENT, INC. TODOS LOS DERECHOS RESERVADOS.</div>
                </div>
                <div class="col-lg-4">
                    <!-- Invoice - additional notes-->
                    <div class="small text-muted text-uppercase fw-700 mb-2">Nota</div>
                    <div class="small mb-0">El plazo máximo para realizar un cambio de producto será de 10 (diez) días naturales a partir de la fecha de compra de la mercancía.</div>
                </div>
                <div class="col-lg-2">
                    <br>
                    <br>
                    <div class="small mb-0"><button class="btn btn-success" type="submit">Imprimir&nbsp;<span><i class="far fa-file-excel"></i></span></button></div>
                </div>
            </div>
        </div>
        <!-- <div class="card-footer p-4 p-lg-5 border-top-0 ">
            <div class="row ">
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="small text-muted text-uppercase fw-700 mb-2 ">ACERCA DE PROVEEDOR</div>
                    <div class="h6 mb-0 ">{{providerInfo?.companyName}}</div>
                    <div class="small ">{{providerInfo?.email}}</div>
                    <div class="small ">Tel: {{providerInfo?.phone}}</div>
                    <div class="small ">RFC: {{providerInfo?.rfc}}</div>
                </div>
                <div class="col-lg-6 col-lg-6 mb-lg-0">
                    <div class="small text-muted text-uppercase fw-700 mb-2 ">Extra</div>
                    <div class="small mb-0 ">Payment is due 15 days after receipt of this invoice. Please make checks or money orders out to Company Name, and include the invoice number in the memo. We appreciate your business, and hope to be working with you again very soon!</div>
                </div>
                <div class="col-lg-2 mb-lg-0 col-lg-2">
                    <br>
                    <br>
                    <button class="btn btn-success" type="submit" *ngIf="contentInvoice?.data">Generar excel&nbsp;<span><i class="far fa-file-excel"></i></span></button>
                </div>
            </div>
        </div> -->
    </div>
</div>