<div>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Busqueda de productos</h4>
    </div>
    <div class="modal-body">

        <div class="row justify-content-center">
            <form [formGroup]="searchForm">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink>Por Código</a>
                        <ng-template ngbNavContent>
                            <input class="form-control mb-3" type="text" formControlName="searchingCode" (ngModelChange)="searchCode()" placeholder="código de producto" maxlength="25" />

                            <div class="row gx-3 form-group" *ngIf="listResponseCode">
                                <div class="d-flex justify-content-center">
                                    <h4>Coincidencias&nbsp;<span class="badge bg-primary text-white">{{matchesC}}</span></h4>
                                </div>
                                <div class="form-group">
                                    <ul class="heroes">
                                        <li *ngFor="let producto of listResponseCode; let i = index;" (click)="bringResult(i)">
                                            <p><span>{{producto.productName}}</span> {{producto.model}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink>Por Nombre</a>
                        <ng-template ngbNavContent>
                            <input class="form-control mb-3" type="text" formControlName="searchingName" (ngModelChange)="searchName()" placeholder="nombre de producto" maxlength="75" />
                            <div class="row gx-3 form-group" *ngIf="listResponseName">
                                <div class="d-flex justify-content-center">
                                    <h4>Coincidencias&nbsp;<span class="badge bg-primary text-white">{{matchesN}}</span></h4>
                                </div>
                                <div class="form-group">
                                    <ul class="heroes">
                                        <li *ngFor="let producto of listResponseName; let i = index;" (click)="bringResult(i)">
                                            <p><span>{{producto.productName}}</span> {{producto.model}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                </ul>

                <div [ngbNavOutlet]="nav" class="mt-2"></div>

            </form>
        </div>

    </div>
    <div class="modal-footer ">
        <button type="button " class="btn btn-danger " (click)="modal.close(false) ">
          Cerrar
        </button>
    </div>
</div>