<div>
    <div class="modal-body">
        <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Cambiar contraseña</h4>
        </div>
        <form [formGroup]="setPasswordForm">

            <div class="modal-body mx-3">
                <input type="text" id="username" name="username" autocomplete="username" hidden>
                <div class="md-form mb-5">
                    <label data-success="right">Nueva contraseña &nbsp;</label>
                    <i class="fas fa-key"></i>
                    <input formControlName="newPassword" type="password" class="form-control" autocomplete="new-password">
                    <app-field-error-display [displayError]="validationInput('newPassword')" errorMsg="Ingresa una contraseña válida">
                    </app-field-error-display>
                </div>

                <div class="md-form mb-4">
                    <label data-success="right">Confirmar contraseña &nbsp;</label>
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input formControlName="newPasswordConfirm" type="password" class="form-control" autocomplete="new-password">
                    <div *ngIf="setPasswordForm.get('newPassword').value != setPasswordForm.get('newPasswordConfirm').value && setPasswordForm.get('newPassword').value!='' && setPasswordForm.get('newPasswordConfirm').value!=''">
                        <span class="sr-only">(error)</span>
                        <div class="error-msg">
                            Los campos deben coincidir.
                        </div>
                    </div>
                </div>

            </div>

        </form>

    </div>
    <div class="modal-footer d-flex justify-content-end">
        <button type="button" style="width: 80px;" class="btn btn-danger" (click)="closeModal()">
          Omitir
        </button>
        <button type="button" style="width: 80px;" class="btn btn-primary" (click)="onSave()">
          Guardar
        </button>
    </div>
</div>