@import '~ngx-toastr/toastr';

.disableDiv{
    pointer-events:none;
    opacity: 0.2;
}
.enabledDiv{
    pointer-events:all !important;
    opacity: 1 !important;
}
.disableDivAddress{
    pointer-events:none;
    opacity: 0.5;
}
